body {
    background-color: hsl(30, 38%, 92%);
    margin: 0%;
}

h1 {
    font-family: 'Fraunces', serif;
    line-height: .9;
    font-size: 1.8rem;
    margin: 8% auto 8% auto;
    color: hsl(212, 21%, 14%);
}

p {
    font-family: 'Montserrat', serif;
    color: hsl(228, 12%, 48%);
    font-size: 12px;
}

table {
    border-radius: 3%;
    background-color: #ffffff;
    margin: 8.1rem auto 8.1rem auto;
    width: 470px;
    border-spacing: 0;
}

tr {
    padding: 0%;
    display: inline-block;
    height: 350px;
}

td {
    height: 350px;
    width: 235px;
    padding: 0%;
}

.perfume {
    letter-spacing: 5px;
}

.content {
    height: min-content;
    margin: auto 20px 20px 20px;
}

.price {
    color: hsl(158, 36%, 37%);
    display: inline-block;
}


.small-price {
    vertical-align: super;
    text-decoration: line-through;
    display: inline-block;
    font-family: 'Montserrat', serif;
    color: hsl(228, 12%, 48%);
    margin-left: 12px;
    font-size: 12px;
}

.image {
    display: inline-block;
    height: 350px;
    width: auto;
    border-radius: 3% 0 0 3%;
}

.btn {
    border-radius: 6px;
    vertical-align: middle;
    border: none;
    margin-left: 12px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 12px;
    background: hsl(158, 36%, 37%);
    padding: 10px 40px 10px 40px;
    text-decoration: none;
  }

.btn:hover {
    background-color: #1a4031;
}
